{% set deployment = env['deployment'] %}
{% set waiterTimeout = properties['waiterTimeout'] %}

resources:
# Runtime Config to store the gloabl IP for meta nodes
- name: {{ deployment }}-rtc
  type: runtimeconfig.v1beta1.config
  properties:
    config: {{ deployment }}-rtc

- name: {{ deployment }}-rtc-cluster-init-waiter
  type: runtimeconfig.v1beta1.waiter
  metadata:
    dependsOn:
      - {{ deployment }}-rtc
      - {{ deployment }}-meta-node-igm
      - {{ deployment }}-data-node-igm
  properties:
    parent: $(ref.{{ deployment }}-rtc.name)
    waiter: {{ deployment }}-rtc-cluster-init-waiter
    timeout: {{ waiterTimeout }}s
    success:
      cardinality:
        path: internal-dns
        number: 5
    failure:
      cardinality:
        path: failure
        number: 1

- name: {{ deployment }}-rtc-startup-waiter
  type: runtimeconfig.v1beta1.waiter
  metadata:
    dependsOn:
      - {{ deployment }}-rtc
  properties:
    parent: $(ref.{{ deployment }}-rtc.name)
    waiter: {{ deployment }}-rtc-startup-waiter
    timeout: {{ waiterTimeout }}s
    success:
      cardinality:
        path: startup-status/success
        number: 1
    failure:
      cardinality:
        path: startup-status/failure
        number: 1


outputs:
- name: configName
  value: $(ref.{{ deployment }}-rtc.name)
