{% set project = env['project'] %}
{% set deployment = env['deployment'] %}
{% set zone = properties['zone'] %}
{% set region = zone[:-2] %}
{% set network = properties['network'] %}
{% set subnetwork = properties['subnetwork'] %}
{% set targetSize = properties['dataTargetSize'] %}
{% set machineType = properties['dataMachineType'] %}
{% set diskType = properties['dataDiskType'] %}
{% set diskSize = properties['dataDiskSizeGb'] %}
{% set bootDiskType = properties['bootDiskType'] %}
{% set bootDiskSize = properties['bootDiskSizeGb'] %}
{% set sourceImage = properties['sourceImage'] %}
{% set licenseKey = properties['licenseKey'] %}

resources:
# Instance template for data nodes
# Used by the data node instance group manager
- name: {{ deployment }}-data-it
  type: compute.v1.instanceTemplate
  properties:
    zone: {{ zone }}
    properties:
      machineType: {{ machineType }}
      networkInterfaces:
        - network: https://www.googleapis.com/compute/v1/projects/{{ project }}/global/networks/{{ network }}
          {% if subnetwork %}
          subnetwork: https://www.googleapis.com/compute/v1/projects/{{ project }}/regions/{{ region }}/subnetworks/{{ subnetwork }}
          {% endif %}
          accessConfigs:
          - name: External NAT
            type: ONE_TO_ONE_NAT
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: True
        initializeParams:
          sourceImage: {{ sourceImage }}
          diskType: {{ bootDiskType }}
          diskSizeGb: {{ bootDiskSize }}
      - deviceName: influxdb
        type: PERSISTENT
        autoDelete: False
        initializeParams:
          diskType: {{ diskType }}
          diskSizeGb: {{ diskSize }}
      metadata:
        items:
        - key: deployment
          value: {{ deployment }}
        - key: license-key
          value: {{ licenseKey }}
        - key: rtc-name
          value: {{ deployment }}-rtc
        - key: startup-script
          value: |
            #!/bin/bash
            set -euxo pipefail
            {% for script in properties['startupScripts'] %}
            {{ imports[script]|indent(12) }}
            {% endfor %}
      tags:
        items:
          - {{ deployment }}-data-fw
      serviceAccounts:
        - email: default
          scopes:
            - 'https://www.googleapis.com/auth/cloudruntimeconfig'

- name: {{ deployment }}-data-igm
  type: compute.v1.instanceGroupManager
  metadata:
    dependsOn:
      - {{ deployment }}-data-it
      - {{ deployment }}-rtc
  properties:
    baseInstanceName: {{ deployment }}-data-vm
    instanceTemplate: $(ref.{{ deployment }}-data-it.selfLink)
    targetSize: {{ targetSize }}
    zone: {{ zone }}
    namedPorts:
      - name: 'tcp'
        port: 8086

outputs:
- name: connectionIP
  value: $(ref.{{ deployment }}-data-fr.IPAddress)
