{% set deployment = env['deployment'] %}
{% set project = env['project'] %}
{% set projectNumber = env['project_number'] %}
{% set zone = properties['zone'] %}
{% set network = properties['network'] %}
{% set subnetwork = properties['subnetwork'] %}
{% set metaTargetSize = properties['metaTargetSize'] %}
{% set metaMachineType = properties['metaMachineType'] %}
{% set metaDiskType = properties['metaDiskType'] %}
{% set metaDiskSizeGb = properties['metaDiskSizeGb'] %}
{% set dataTargetSize = properties['dataTargetSize'] %}
{% set dataMachineType = properties['dataMachineType'] %}
{% set dataDiskType = properties['dataDiskType'] %}
{% set dataDiskSizeGb = properties['dataDiskSizeGb'] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set bootDiskSizeGb = properties["bootDiskSizeGb"] %}
{% set sourceImageData = 'https://www.googleapis.com/compute/v1/projects/influxdata-public/global/images/influxdb-enterprise-billing-data-1-7-10-ubuntu-2020-02-28' %}
{% set sourceImageMeta = 'https://www.googleapis.com/compute/v1/projects/influxdata-public/global/images/influxdb-enterprise-billing-meta-1-7-10-ubuntu-2020-02-28' %}
{% set licenseKey = properties['licenseKey'] %}
{% set adminUser = properties['adminUser'] %}

resources:
- name: admin-password
  type: password.py
  properties:
    length: 24
    includeSymbols: False

- name: {{ deployment }}-meta
  type: meta-node.jinja
  properties:
    zone: {{ zone }}
    network: {{ network }}
    {% if properties.get("subnetwork") %}
    subnetwork: {{ properties["subnetwork"] }}
    {% endif %}
    metaTargetSize: {{ metaTargetSize }}
    metaMachineType: {{ metaMachineType }}
    metaDiskType: {{ metaDiskType }}
    metaDiskSizeGb: {{ metaDiskSizeGb }}
    bootDiskType: {{ bootDiskType }}
    bootDiskSizeGb: {{ bootDiskSizeGb }}
    sourceImage: {{ sourceImageMeta }}
    licenseKey: {{ licenseKey }}
    adminUser: {{ adminUser }}
    adminPassword: $(ref.admin-password.password)
    startupScripts:
      - setup-common.sh
      - setup-meta.sh

- name: {{ deployment }}-data
  type: data-node.jinja
  properties:
    zone: {{ zone }}
    network: {{ network }}
    {% if properties.get("subnetwork") %}
    subnetwork: {{ properties["subnetwork"] }}
    {% endif %}
    dataMachineType: {{ dataMachineType }}
    dataDiskType: {{ dataDiskType }}
    dataDiskSizeGb: {{ dataDiskSizeGb }}
    bootDiskType: {{ bootDiskType }}
    bootDiskSizeGb: {{ bootDiskSizeGb }}
    sourceImage: {{ sourceImageData }}
    licenseKey: {{ licenseKey }}
    startupScripts:
      - setup-common.sh
      - setup-data.sh

- name: {{ deployment }}-rtc
  type: runtime-config.jinja
  properties:
    waiterTimeout: 600

- name: {{ deployment }}-net
  type: network.jinja
  properties:
    zone: {{ zone }}
    network: {{ network }}
    {% if properties.get("subnetwork") %}
    subnetwork: {{ properties["subnetwork"] }}
    {% endif %}

outputs:
- name: deployment
  value: {{ deployment }}
- name: project
  value: {{ project }}
- name: adminUser
  value: {{ adminUser }}
- name: adminPassword
  value: $(ref.admin-password.password)
- name: connectionIP
  value: $(ref.{{ deployment }}-data-fr.IPAddress)
