{% set deployment = env['deployment'] %}
{% set project = env['project'] %}
{% set projectNumber = env['project_number'] %}
{% set zone = properties['zone'] %}
{% set licenseKey = properties['licenseKey'] %}
{% set metaNodeMachineType = properties['metaNodeMachineType'] %}
{% set metaNodeDiskType = properties['metaNodeDiskType'] %}
{% set metaNodeDiskSizeGb = properties['metaNodeDiskSizeGb'] %}
{% set dataNodeMachineType = properties['dataNodeMachineType'] %}
{% set dataNodeDiskSizeGb = properties['dataNodeDiskSizeGb'] %}
{% set dataNodeDiskType = properties['dataNodeDiskType'] %}
{% set sourceImage = 'https://www.googleapis.com/compute/v1/projects/influxdata-dev/global/images/influxdata-debian-9-influxdb-enterprise-v20180917' %}

resources:
- name: {{ deployment }}-meta-nodes
  type: meta-node.jinja
  properties:
    zone: {{ zone }}
    licenseKey: {{ licenseKey }}
    metaNodeMachineType: {{ metaNodeMachineType }}
    metaNodeDiskSizeGb: {{ metaNodeDiskSizeGb }}
    sourceImage: {{ sourceImage }}
    startupScripts:
      - setup-common.sh
      - setup-meta.sh

- name: {{ deployment }}-data-nodes
  type: data-node.jinja
  properties:
    zone: {{ zone }}
    licenseKey: {{ licenseKey }}
    dataNodeMachineType: {{ dataNodeMachineType }}
    dataNodeDiskSizeGb: {{ dataNodeDiskSizeGb }}
    sourceImage: {{ sourceImage }}
    startupScripts:
      - setup-common.sh
      - setup-data.sh

- name: {{ deployment }}-runtime-config
  type: runtime-config.jinja
  properties:
    waiterTimeout: 600
