{% set deployment = properties['deployment'] %}x
{% set zone = properties['zone'] %}
{% set project = properties['project'] %}
{% set projectNumber = env['project_number'] %}
{% set sourceImage = properties['sourceImage'] %}
{% set metaNodeMachineType = properties['metaNodeMachineType'] %}
{% set instancegroupTargetSize = properties['instancegroupTargetSize'] %}
{% set maxNumReplicas = properties['maxNumReplicas'] %}
{% set network = properties['network'] %}
{% set bootDiskSizeGb = properties['bootDiskSizeGb'] %}
{% set diskType = properties['diskType'] %}
{# {% set influxdbAdminPassword = properties['influxdbAdminPassword'] %} #}
{% set startupScriptUrl = properties['startupScriptUrl'] %}
{% set gcsSyncScriptUrl = properties['gcsSyncScriptUrl'] %}

resources:
# Meta Node Instance template
- name: {{ deployment }}-meta-node-it
  type: compute.v1.instanceTemplate
  properties:
    zone: {{ zone }}
    properties:
      machineType: {{ metaNodeMachineType }}
      networkInterfaces:
      - network: https://www.googleapis.com/compute/v1/projects/{{ project }}/global/networks/{{ network }}
        accessConfigs:
        - name: External-IP
          type: ONE_TO_ONE_NAT
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: {{ sourceImage }}
          diskSizeGb: {{ bootDiskSizeGb }}
          diskType: {{ diskType }}
      {# metadata:
        items:
          - key: deployment
            value: {{ deployment }}
          - key: influxdb-admin-password
            value: {{ influxdbAdminPassword }}
          - key: status-config-url
            value: https://runtimeconfig.googleapis.com/v1beta1/projects/{{ project }}/configs/{{ rtcName }}
          - key: status-variable-path
            value: startup-status
          - key: admin-waiter-name
            value: {{ deployment }}-rtc-admin-waiter #}
      metadata-from-file:
        items:
          - key: startup-script
            value: "meta-setup.sh"
      tags:
        items:
          - {{ deployment }}-meta
      serviceAccounts:
        - email: default
          scopes:
            - 'https://www.googleapis.com/auth/cloudruntimeconfig'

# Meta Node Instance Group Manager
- name: {{ deployment }}-meta-node-igm
  type: compute.beta.instanceGroupManager
  properties:
    baseInstanceName: {{ deployment }}-meta-node-vm
    instanceTemplate: $(ref.{{ deployment }}-meta-node-it.selfLink)
    targetSize: {{ instancegroupTargetSize }}
    zone: {{ zone }}
    namedPorts:
      - name: 'http'
        port: 80
    autoHealingPolicies:
      - healthCheck: $(ref.{{ deployment }}-meta-node-health.selfLink)
        initialDelaySec: 180
  metadata:
    dependsOn:
    - {{ deployment }}-svc-account-key
    - {{ deployment }}-{{ projectNumber }}-wp-data
{# 
# Meta Node Backend Service(s)
- name: {{ deployment }}-meta-node-backend
  type: compute.v1.backendService
  properties:
    loadBalancingScheme: EXTERNAL
    sessionAffinity: GENERATED_COOKIE
    affinityCookieTtlSec: 0
    healthChecks: [ $(ref.{{ deployment }}-meta-node-health.selfLink) ]
    backends:
      - balacingMode: RATE
        group: $(ref.{{ deployment }}-meta-node-igm.instanceGroup)

outputs:
  - name: backendSelfLink
    value: $(ref.{{ deployment }}-meta-node-backend.selfLink) #}
