{% set allTiersCount = 2 %}
{% set tiersWithNoExternalIPCount = 0 %}
{% if properties["meta_externalIP"] == "None" %}
{% set tiersWithNoExternalIPCount = tiersWithNoExternalIPCount + 1 %}
{% endif %}
{% if properties["data_externalIP"] == "None" %}
{% set tiersWithNoExternalIPCount = tiersWithNoExternalIPCount + 1 %}
{% endif %}

resources:
  - name: meta-tier
    type: meta_tier.jinja
    properties:
      instanceCount: {{ properties["meta_instanceCount"] }}
      zone: {{ properties["zone"] }}
      network: {{ properties["network"] }}
      {% if properties.get("subnetwork") %}
      subnetwork: {{ properties["subnetwork"] }}
      {% endif %}
      {% if properties.get("meta_externalIP") %}
      externalIP: {{ properties["meta_externalIP"] }}
      {% endif %}
      machineType: {{ properties["meta_machineType"] }}
      bootDiskType: {{ properties["meta_bootDiskType"] }}
      bootDiskSizeGb: {{ properties["meta_bootDiskSizeGb"] }}
      generatedPassword0: $(ref.generated-password-0.password)
  - name: data-tier
    type: data_tier.jinja
    properties:
      instanceCount: {{ properties["data_instanceCount"] }}
      zone: {{ properties["zone"] }}
      network: {{ properties["network"] }}
      {% if properties.get("subnetwork") %}
      subnetwork: {{ properties["subnetwork"] }}
      {% endif %}
      {% if properties.get("data_externalIP") %}
      externalIP: {{ properties["data_externalIP"] }}
      {% endif %}
      machineType: {{ properties["data_machineType"] }}
      bootDiskType: {{ properties["data_bootDiskType"] }}
      bootDiskSizeGb: {{ properties["data_bootDiskSizeGb"] }}
      generatedPassword0: $(ref.generated-password-0.password)
      enableTcp8086: {{ properties["data_enableTcp8086"] }}
      {% if properties.get("data_tcp8086SourceRanges") %}
      tcp8086SourceRanges: {{ properties["data_tcp8086SourceRanges"] }}
      {% endif %}
      data_disk1_type: {{ properties["data_disk1_type"] }}
      data_disk1_sizeGb: {{ properties["data_disk1_sizeGb"] }}
  - name: generated-password-0
    type: password.py
    properties:
      length: 24
      includeSymbols: False

outputs:
  - name: deployment
    value: {{ env["deployment"] }}
  - name: project
    value: {{ env["project"] }}
  - name: password0
    value: $(ref.generated-password-0.password)
  {% for vmIndex in range(properties["meta_instanceCount"]) %}
  - name: meta_vmId{{ vmIndex }}
    value: $(ref.meta-tier.vmId{{ vmIndex }})
  - name: meta_vmExternalIP{{ vmIndex }}
    value: $(ref.meta-tier.vmExternalIP{{ vmIndex }})
  - name: meta_vmInternalIP{{ vmIndex }}
    value: $(ref.meta-tier.vmInternalIP{{ vmIndex }})
  - name: meta_vmName{{ vmIndex }}
    value: $(ref.meta-tier.vmName{{ vmIndex }})
  - name: meta_vmSelfLink{{ vmIndex }}
    value: $(ref.meta-tier.vmSelfLink{{ vmIndex }})
  {% endfor %}
  {% for vmIndex in range(properties["data_instanceCount"]) %}
  - name: data_vmId{{ vmIndex }}
    value: $(ref.data-tier.vmId{{ vmIndex }})
  - name: data_vmExternalIP{{ vmIndex }}
    value: $(ref.data-tier.vmExternalIP{{ vmIndex }})
  - name: data_vmInternalIP{{ vmIndex }}
    value: $(ref.data-tier.vmInternalIP{{ vmIndex }})
  - name: data_vmName{{ vmIndex }}
    value: $(ref.data-tier.vmName{{ vmIndex }})
  - name: data_vmSelfLink{{ vmIndex }}
    value: $(ref.data-tier.vmSelfLink{{ vmIndex }})
  {% endfor %}
  - name: tiersWithNoExternalIPStatus
    {% if tiersWithNoExternalIPCount == 0 %}
    value: 'NONE'
    {% elif tiersWithNoExternalIPCount < allTiersCount %}
    value: 'SOME'
    {% else %}
    value: 'ALL'
    {% endif %}
